
<script type="text/javascript">
function onSelect () {
  var submit_button = document.getElementById("search_button");
  submit_button.style.backgroundColor = "#99CCFF";
}

function onBlur() {
   var submit_button = document.getElementById("search_button");
   submit_button.style.backgroundColor = "#EEEEEE";
}

function submitQuery() {
  var query = document.getElementById("q");
  if (query.value) {
    $("#everything").animate({
      'top' : '-180px'
    });
    $("#search-results").fadeIn(600);
    var results = document.getElementById("search-results");
    results.innerHTML = '<small>Showing results for <b>' + query.value + '</b></small><br />' + results.innerHTML;
    results.style.display = 'block';
  }
}

function showDescription(elem) {
  var s = getElementById(elem);
  s.style.display = "block";
  alert("HO");
  if (s.style.display != "none") {
    s.style.display = "none";
  } else {
    s.style.display = "block";
  }
}

</script>

<div id='everything' class='center-div'>
<h1>Shiina</h1>
<%= render 'search_form' %>
  <div id='search-results' class='col-md-8 col-md-offset-2' style='display:none;'>
    <% arr = ['HTML', 'CSS', 'JavaScript'] %>
    <% arr.each do |x| %>
    <div class='individual-result' onclick='showDescription("<%= x %>");'>
    <span class='result-title'><%= x %></span>
    <br />
    <span id='<%= x %>' class='result-description' style='display:none;'>This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. This is a description of <%= x %>. </span>
    </div>
    <br />
    <% end %>
  </div>
</div>
